@font-face {
  font-family: 'ubuntu_condensedregular';
  src: url('/ubuntuStyle/ubuntu-c-webfont.woff2') format('woff2'),
       url('/ubuntuStyle/ubuntu-c-webfont.woff') format('woff'),
       url('/ubuntuStyle/ubuntu-c-webfont.1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* mobile design */
@media only screen{
  .prelanding_paper {
    flex: 1;
    text-align: center;
    max-width: 50%;
    margin: 20px;
    padding: 5px;
    background-color: transparent;
    min-width: 100;
  }
}

/* For desktop */
body {
  height: 100%;
  font-family: 'ubuntu_condensedregular' !important;
  background-image: url('/SB_Stock_Landing_Page.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed ;
  background-repeat: no-repeat;
}

/* .buttonText {
  font-family: 'ubuntu_condensedregular' !important;
} */

.prelandingPage {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/SB_Stock_Landing_Page.jpg');
  background-size: cover;
}

.prelanding_grid {
  min-height: 100%;
}

.prelanding_grid p, .prelanding_grid h1 {
  color: white;
}

.prelandingPage .prelandingPage-Story, .prelandingPage p  {
  color: white;
}

.signup-form{
  display:flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-textbox{
  font-family: 'ubuntu_condensedregular' !important;
  flex:1;
  border-radius: 10px;
  border: 2px solid #b1bfc4;
}

.signup-form img{
  align-self: center;
  width: 50%;
  height: 50%;
}

.navBar {
  font-family: 'ubuntu_condensedregular' !important;
}

.dropDown {
  font-family: 'ubuntu_condensedregular' !important;
}

.submitButton {
  font-family: 'ubuntu_condensedregular' !important;
  background-color: '#84CAEE';
}
